# Node
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Environment variables
.env

# Backend
backend/node_modules/

# Frontend
frontend/node_modules/

# Build outputs
dist/
build/

# OS files
.DS_Store
Thumbs.db
